<p id="notice"><%= notice %></p>

<h1>Gallery</h1>
		<% @posts.reverse.each do |post| %>
     <% if post.picture.present? %>
  <div class="col-md-4" style="margin-bottom: 30px;">
  <a href="<%= post_path(post) %>"><img src="http://<%= post.picture.url %>" style="margin-bottom: 10px;"><br><%= @comments.find_all_by_post_id(post.id).count %> Comments</a>
	</div>
      <% end %>
		<% end %>
		
