<p id="notice"><%= notice %></p>

<h1>Protected Gallery By Most Recent</h1>
		<% @posts.reverse.each do |post| %>
     <% if post.picture.present? %>
  <div class="col-md-12" style="margin-bottom: 30px;" align="center">
  <a href="<%= post_path(post) %>"><img src="http://<%= post.picture.url %>" style="margin-bottom: 10px;"><br><%= @comments.find_all_by_post_id(post.id).count %> Comments</a>
	</div>
<div class="clear"></div><div style="clear:both;"></div>
      <% end %>
		<% end %>
		
